.text-h5 {
  font-size: 1.7rem;
}

.printer {
  padding: 50px 15%;
}

.printer h3,
.printer h3 span {
  margin: 20px 0;
  @apply !text-2xl dark:text-light-background2 text-dark-background2;
}

.printer p {
  margin: 10px 0;
}

.printer ul,
.printer ol {
  margin-left: 15px;
}

.printer ol li,
.printer ul li {
  margin: 10px 0 10px 10px;
  list-style-type: disc;
  @apply dark:text-light-background2 text-dark-background2;
}

.printer ol li::marker,
.printer ul li::marker {
  @apply dark:text-light-background2 text-dark-background2;
}

@media (max-width: 900px) {
  .printer {
    padding: 50px 10%;
  }
}

@media (max-width: 720px) {
  .printer {
    padding: 50px;
  }
}

@media (max-width: 640px) {
  .printer {
    padding: 20px;
  }
}
